# postgres database adapater
psycopg2==2.6.1

# django framework itself
Django==1.9.2

#app server for prod
gunicorn==19.4.5


djangorestframework==3.4.6


django-ckeditor==5.1.0


pdfkit==0.5.0
django-import-export==0.4.5
easy-thumbnails==2.3
django-image-cropping==1.0.3
viivakoodi==0.8
django-cron==0.4.6
