{% extends "admin/index.html" %}

{% block content %}
    <a href="#">Statistics</a>
    {{ block.super }}
{% endblock %}
{# <div class="module" style="
    width: 500px;
">
          <a href="#">Statistics</a>
<table>
        <caption style="
    width: 500px;
">
            <a href="/admin/auth/" class="section" title="Models in the Authentication and Authorization application">Authentication and Authorization</a>
        </caption>

            <tbody><tr class="model-group">

                <th scope="row"><a href="/admin/auth/group/">Groups</a></th>





            </tr>

            <tr class="model-user">

                <th scope="row"><a href="/admin/auth/user/">Users</a></th>




            </tr>

        </tbody></table>
</div>       #}
