{% extends "admin/index.html" %}

{% block content %}
    <div class="module" id="statistics" style="width: 600px;">
    <table>
        <caption style="width: 584px;">
            <a href="#" class="section" title="Statistics">Bid statistics</a>
        </caption>
        <tbody>
            {% if request.user.role == 'Admin' %}
                <tr class="modegroup">
                    <th scope="row">
                        <a href="{% url 'statistics_overall' %}">Overall</a>
                    </th>
                </tr>
            {% endif %}
            <tr class="modegroup">
                <th scope="row">
                    <a href="{% url 'statistics_per_model' 'merchant' %}">Per merchant</a>
                </th>
            </tr>
            <tr class="modegroup">
                <th scope="row">
                    <a href="{% url 'statistics_per_model' 'widget' %}">Per widget</a>
                </th>
            </tr>
            <tr class="modegroup">
                <th scope="row">
                    <a href="{% url 'statistics_per_model' 'ticket' %}">Per ticket</a>
                </th>
            </tr>
        </tbody>
    </table>
    </div>
    {{ block.super }}
    <script type="text/javascript">
        var statistics = document.getElementById("statistics");
        var content = document.getElementById("content-main")
        content.appendChild(statistics);
    </script>
{% endblock %}
